<?xml version="1.0"?>
<!--
/**
 * Copyright © Eriocnemis, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- plugin -->
    <type name="Magento\Cron\Model\Config">
        <plugin name="eriocnemis_cron" type="Eriocnemis\Cron\Plugin\Cron\Model\ConfigPlugin"/>
    </type>
    <!-- console command -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cron-job-info" xsi:type="object">Eriocnemis\Cron\Console\Command\CronJobInfoCommand</item>
            </argument>
        </arguments>
    </type>
    <!-- ui grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eriocnemis_cron_job_listing_data_source" xsi:type="string">Eriocnemis\Cron\Model\ResourceModel\Job\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Eriocnemis\Cron\Model\ResourceModel\Job\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">eriocnemis_cron_job</argument>
            <argument name="eventPrefix" xsi:type="string">eriocnemis_cron_job_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">collection</argument>
            <argument name="resourceModel" xsi:type="string">Eriocnemis\Cron\Model\ResourceModel\Job</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eriocnemis_cron_schedule_listing_data_source" xsi:type="string">Eriocnemis\Cron\Model\ResourceModel\Schedule\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Eriocnemis\Cron\Model\ResourceModel\Schedule\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cron_schedule</argument>
            <argument name="eventPrefix" xsi:type="string">eriocnemis_cron_schedule_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">collection</argument>
            <argument name="resourceModel" xsi:type="string">Eriocnemis\Cron\Model\ResourceModel\Schedule</argument>
        </arguments>
    </virtualType>
</config>